@model AppCore.Entities.Post

@{
    ViewData["Title"] = "Score";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submit Score: @Html.DisplayFor(model => model.AwScore)</h2>

<h4>@Html.DisplayFor(model => model.Title)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveScore">
            <input asp-for="Id" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="AwScore" class="control-label">Are you sure you want to submit a score of <strong>@Html.DisplayFor(model => model.AwScore)</strong> for this post?</label>
                <input asp-for="AwScore" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Score" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Cancel", "Post", new { permalink = Model.Permalink } )
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
